.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #CCC;
    background-image: -moz-linear-gradient(90deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
    background-image: -webkit-linear-gradient(90deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
    background-image: -o-linear-gradient(90deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
    background-image: -o-linear-gradient(90deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
    -webkit-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(0deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item .nav-link:link , #navbarSupportedContent1 .navbar-nav.mr-auto .nav-item .nav-link:visited  {
    text-decoration: none;
    color: #ffffcc;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    border-left: 1px solid #29C;
    border-right: 1px solid #066;
    border-bottom: 1px solid #066;
    border-top: 1px solid #29C;
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item
.nav-link:hover {
    color: #FFF;
    background-color: #CCC;
    background-image: -webkit-linear-gradient(270deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
    -webkit-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(180deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
}
.dropdown-menu .dropdown-item:link , {
}
.dropdown-menu .dropdown-item:link , {
}
.dropdown-menu .dropdown-item .dropdown-menu .dropdown-item:link , {
}
.dropdown-menu .dropdown-item:link, .dropdown-menu .dropdown-item:visited {
    background-color: #CCC;
    background-image: -o-linear-gradient(90deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
    background-image: -webkit-linear-gradient(90deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
    background-image: -moz-linear-gradient(90deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
    background-image: -moz-linear-gradient(90deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
    -webkit-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: #ffffcc;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    border-left: 1px solid #29C;
    border-right: 1px solid #066;
    border-bottom: 1px solid #066;
    border-top: 1px solid #29C;
    background-image: linear-gradient(0deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
}
.dropdown-menu .dropdown-item:hover {
    color: #FFF;
    background-color: #CCC;
    background-image: -o-linear-gradient(270deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
    background-image: -webkit-linear-gradient(270deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(9,127,163,1.00) 0%,rgba(14,98,152,1.00) 100%);
    -webkit-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
}
.row .navbar.navbar-expand-lg.navbar-light.bg-light {
    font-size: 90%;
}
.navbar-nav.mr-auto {
    margin: 0 auto;
}
header {
    text-align: center;
    height: 200px;
    background-color: #999;
    color: #fff;
    border-bottom: 5px solid #FD5;
    border-top: 5px solid #FD5;
    margin-bottom: 10px;
    background-image: url(images/fern.png) , url(images/stripe.png) , -moz-linear-gradient(270deg,rgba(0,153,0,1.00) 0%,rgba(0,204,0,1.00) 100%);
    background-image: url(images/fern.png) , url(images/stripe.png) , -webkit-linear-gradient(270deg,rgba(0,153,0,1.00) 0%,rgba(0,204,0,1.00) 100%);
    background-image: url(images/fern.png) , url(images/stripe.png) , -o-linear-gradient(270deg,rgba(0,153,0,1.00) 0%,rgba(0,204,0,1.00) 100%);
    background-image: url(images/fern.png) , url(images/stripe.png) , linear-gradient(180deg,rgba(0,153,0,1.00) 0%,rgba(0,204,0,1.00) 100%);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.55);
    background-repeat: no-repeat , repeat-x;
    background-position: 45% center, 0 0;
    background-size: auto 75%, auto auto, auto;
    margin-top: 2.6em;
}
header h2 {
    margin-top: 1em;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    text-shadow: 0px 0px 12.48px rgba(0, 0, 0, 0.5);
    color: #00ff00;
    line-height: 0.8em;
    font-family: Impact;
    font-size: 66px;
    font-weight: 400;
}
header p {
    margin: 0;
    line-height: 5em;
    font-family: "Lucida Sans Regular", Helvetica, Arial;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-shadow: 0px 3px 4px rgba(0, 0, 1, 0.38);
    letter-spacing: .5em;
}
.logowhite {
    color: #FFF;
}
.sidebar1 blockquote {
    margin: 0 0 20px 0;
    padding: 0;
}
.sidebar1 blockquote p {
    margin: 0 0 5px 0;
    padding: 0 .5em;
    text-indent: -0.4em;
}
.sidebar1 blockquote cite {
    display: block;
    font-size: 90%;
    text-align: right;
    font-style: italic;
}
main.row aside{
    padding: undefined;
    min-height: 150px;
    font-size: 90%;
    border-top: solid 5px #069;
    border-bottom: solid 3px #069;
}
body {
    font-family: source-sans-pro, "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4em;
}
main.row section h1 {
    font-family: bree-serif, "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 300%;
    line-height: 1em;
}
main.row section article h2 {
    font-size: 200%;
    font-family: source-sans-pro, "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #009900;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    margin-top: 1.5em;
    margin-bottom: .5em;
}
.sidebar2 {
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ccffcc;
}
.sidebar2 p {
    padding: inherit;
    margin: 0 0 5px 0;
}
footer {
    padding: 10px;
    margin: 10px 0;
    clear: both;
    background-color: #CCC;
    font-size: 90%;
    border-top: solid 3px #666;
    background-image: -moz-linear-gradient(90deg,rgba(3,75,9,1.00) 0%,rgba(3,185,36,1.00) 100%);
    background-image: -webkit-linear-gradient(90deg,rgba(3,75,9,1.00) 0%,rgba(3,185,36,1.00) 100%);
    background-image: -o-linear-gradient(90deg,rgba(3,75,9,1.00) 0%,rgba(3,185,36,1.00) 100%);
    background-image: linear-gradient(0deg, #034b09 0%, #03b924 100%);
    color: #FFC;
}
